* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    width: 100%;
    margin: 0 auto;
    background-color: #ce93d8;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-logo{
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive
}
nav{
    height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ce93d8;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav ul{
    list-style: none;
    display: inline-block;
}
nav ul li {
    float: left;
    margin-top: 20px;
}
nav ul li a {
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}
nav ul li a.active {
    background-color: #9c64a6;
}
nav ul li a:hover:not(.active){
    background-color: #9c64a6;
}
@media screen and (max-width: 600px) {
    nav ul li.right, 
    nav ul li {float: none;}
}
/* hr style */
.nav-ini{
    border:0;
    height:12px;
    box-shadow: inset 0 10px 10px -10px aqua;
    background-color: #000;
}
/*section: "contacto" */
#contacto { 
    font-size: 25px;
    position:relative;
    height: 390px;
    background-color: #ce93d8;
    color: black;
    border-style: solid;
    text-align: center;
}
#contacto .columna{
    font-size: 25px;
    float:left;
    padding: 15px;
    padding-top: 80px;
}
#contacto .columna.uno{
    width: 25%;
}
#contacto .columna.dos{
    width: 25%;
}
#contacto .columna.tres{
    width: 25%;
}
#contacto .columna.cuatro{
    width: 25%;
}
#contacto .fila:after{
    content: "";
    display: table;
    clear:both;
}

/* section "admin" */
#pedidos{
    background-color: #000;
    color: white;
}
.contenedor{
    font-size: 20px;
    color: white;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding:50px;
    justify-content: center
}
h2{
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #ce93d8;
    padding: 50px;
}
.pedido{
    background-color: #9c64a6;
    border: 1px solid;
    border-radius: 50px;
    width: 800px;
    height: 500px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.existencias{
    font-size: 25px;
    border-collapse: collapse;
    width: 70%;
}
.existencias th{
    background-color: #ce93d8;
    font-size: 30px;
}
.existencias tr:nth-child(even){background-color: rgb(27, 27, 27);}
.existencias tr:hover {background-color: #9c64a6;}
.existencias td, .existencias th{
    padding: 20px;
}
.inventario{
    display: flex;
    justify-content: center;
    padding: 50px;
}
